*{
    box-sizing: border-box;
}

body{
    background: white;
    margin: 0;
    font-family: monospace;
}

h1 {
    color: #444;
    text-align: center;
}

/*Estilos de la galeria*/

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);/*repetir 3 columnas y que cada uno tenga la misma fraccion*/ 
}

.gallery__img {
    width: 100%;
}


